*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

body{
    font-family: 'lato', sans-serif;
    font-size: 20px;
}
.wallpaper {
    background: url(../img/mesa\ cafe.png) no-repeat;
    width: 1600px;
    height: 945px;
    left: 0px;
    top: 0px;

    }

#catalogo {
    background: url(../img/graos.png) no-repeat;
    /* position: absolute; */
    width: 704px;
    height: 560px;
    left: 80px;
    top: 4128px;
    color: white;
}

#acessórios {
    background: url(../img/bule.png) no-repeat;
    /* position: absolute; */
    width: 704px;
    height: 560px;
    left: 816px;
    top: 4128px;
    color: white;
}